<link rel="stylesheet" href="/css/admin.css">
<div class="admin_wrapper">
    <div class="addItem">
        <a href="/user/admin/add_product"><button>Add New Product</button></a>
    </div>
    <h1>Product Managing Page</h1>

    <div class="manage_list_wrapper">
        {{#each data}}
        <div class="manage_list">
            <img class="list_img" src="{{this.image}}">
            <div class="list_content_L">
                <div class="list_name">{{this.title}}</div>
                <div class="list_discription">{{this.description}}
                </div>
            </div>
            <div class="list_content_R">
                <div class="list_price">Price:<br>$ {{this.price}}</div>
                <div class="list_stock">Stock:<br> {{this.stock}}</div>
                <a href="/user/admin/update/{{this.id}}"><button class="update">Update</button></a>
                <a href="/user/admin/delete/{{this.id}}?method=DELETE"><button class="delete">Delete</button></a>
            </div>
        </div>
        {{/each}}
    </div>
</div>



</div>