<link rel="stylesheet" href="/css/cart.css">
<div class="cart_wrapper">
    <h1>{{this.userName}}' Cart</h1>

    <div class="addItem">
        <div class="total">
            <p>Price: ${{price}}</p>
            <p>GST</p>
            <p>+${{GST}}</p>
            <p>Total</p>
            <p>${{total_price}}</p>
        </div>
        <a href="/"><button>Pay</button></a>
    </div>
    <div class=" cart_list_wrapper">
        {{#each data}}
        <div class="cart_list">
            <img class="list_img" src=" {{this.image}}">
            <div class="list_content_L">
                <div class="list_name">{{this.title}}</div>
                <div class="list_discription">{{this.description}}
                </div>
            </div>
            <div class="list_content_R">
                <div class="list_price">Price:<br>$ {{this.price}}</div>
                <div class="list_stock">Quantity:<br> {{this.quantity}}</div>
                <a href="/user/cart/delete/{{this.cartId}}?method=DELETE">
                    <button class="delete">Delete</button>
                </a>
            </div>
        </div>
        {{/each}}
    </div>
</div>



</div>