<link rel="stylesheet" href="/css/home.css">

<div class="nav_items">
    <div class="nav_items_category">
        <p class="nav_items_title">Category</p>
        {{#each nav_items}}
        <a href="/products/{{this.category}}">
            <p>{{this.category}}</p>
        </a>
        {{/each}}
        <div class="search">
            <lable>Search</lable>
            <form action="/search" method="post">
                <input type="text" name="word" placeholder="type name">
                <button type="submit">Go</button>
            </form>
        </div>

    </div>
</div>
<div class="home_wrapper">
    <a href="/products/promotion">
        <div class="promotion">
            <p>{{promotion}}</p>
        </div>
    </a>
    <p class="section_header">Category</p>
    <div class="img_category">
        {{#each img_category}}
        <a class="category__link" href="/products/{{this.category}}">
            <div class="img_category_item">
                <p class="category__header">{{this.category}}</p>
                <img class="category__img" src="{{this.image}}" alt="{{this.title}}">
            </div>
        </a>

        {{/each}}
    </div>
    <p class="section_header">Best Seller</p>
    <div class="bestSeller">
        {{#each best}}
        <div class="bestSeller_item">
            <a href="/product/{{this.id}}"><img class="bestSeller_item__img" src="{{this.image}}"
                    alt="{{this.title}}"></a>
        </div>
        {{/each}}
    </div>

</div>